$header-height: 55px;

$base-colors: (
  "green-c": #1ed760,
  "white-c": #fff,
  "black-c": #000,
);

$font-size: (
  "massive": 3rem,
  "huge": 2.5rem,
  "larges": 2rem,
  "larger": 1.8rem,
  "large": 1.5rem,
  "biggest": 1.3rem,
  "bigger": 1.2rem,
  "big": 1.1rem,
  "normal": 1rem,
  "small": 0.9rem,
  "smaller": 0.8rem,
  "smallest": 0.7rem,
  "tiny": 0.6rem,
);
