.category-component-539 {
  &:not(:first-child) {
    margin-top: 3rem;
  }

  &:first-child {
    padding-top: 1.5rem;
  }

  &:last-child {
    padding-bottom: 1.5rem;
  }

  .category-title {
    font-size: 1.4rem;
    font-weight: 500;
    margin: 0 0 1rem 1rem;
  }

  .music-list {
    display: flex;
    width: 100%;
    overflow: auto hidden;
    padding-bottom: 1.5rem;

    .music {
      text-align: center;

      &:first-child {
        margin-left: 1rem;
      }

      .cover {
        width: 43vw;
        height: 43vw;
        min-width: 130px;
        min-height: 130px;
        max-width: 200px;
        max-height: 200px;
        overflow: hidden;
        object-fit: cover;
        border-radius: 10px;
        margin-right: 1rem;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .music-name {
        margin-top: 0.8rem;
        font-size: 1.1rem;
      }
    }
  }
}
