@import "./config";

.root-main {
  position: relative;

  .background {
    background-image: linear-gradient(
      -45deg,
      map-get($base-colors, black-c),
      map-get($base-colors, green-c) 120%
    );

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
  }
}
