$circle-size: 11px;

.player {
  background-color: #000;
  position: fixed;
  bottom: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1002;
  transition: 700ms ease;
  transition-property: width, height, bottom, left, background-color,
    border-radius;

  &.close {
    height: 80px;
    width: calc(100% - 20px);
    border-radius: 10px;
    bottom: 10px;
    left: 10px;
    background-color: #000000b0;
    backdrop-filter: blur(5px);
    border: 1px solid #ffffff2e;
    z-index: 900;

    header {
      padding: 0;
      height: 0;
    }

    main {
      justify-content: flex-start;
      align-items: center;
      background-color: #000;

      .cover {
        width: 60px;
        height: 60px;
        border-radius: 50% !important;
        position: absolute;
        top: 10px;
        left: 10px;
      }
    }

    footer {
      padding: 0;

      .song-details {
        position: absolute;
        left: 80px;
        top: 10px;

        .song-name {
          margin-right: 5px;
          font-weight: 500;
          font-size: 1rem;
        }

        .singer {
          font-size: 0.9rem;
        }
      }

      .music-controls {
        .range {
          position: absolute;
          top: 0;
          left: 0;

          .line {
            .circle {
              display: none;
            }
          }

          .time {
            display: none;
          }
        }

        .controls {
          position: absolute;
          bottom: 0;
          right: 10px;

          button {
            padding: 0.5rem 0.7rem;

            svg {
              width: 20px;
              height: 20px;
            }
          }
        }
      }
    }
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    transition: 600ms ease;
    overflow: hidden;

    .slide-btn,
    & > div {
      width: 30px;
      height: 30px;
    }

    .slide-btn {
      .line {
        display: inline-block;
        width: 15px;
        height: 2px;
        border-radius: 2px;
        background-color: #fff;
        position: relative;

        &:first-child {
          transform: rotate(45deg);
          left: 5px;
        }

        &:last-child {
          transform: rotate(-45deg);
        }
      }
    }
  }

  main {
    display: flex;
    justify-content: center;

    .cover {
      width: 55vw;
      height: 55vw;
      max-width: 500px;
      max-height: 500px;
      transition: 300ms ease;
      transition-property: width, height;
      border-radius: 2px !important;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  footer {
    padding: 1rem;

    .song-details {
      width: 70%;

      .song-name {
        font-size: 1.3rem;
        margin-bottom: 0.3rem;
      }

      .singer {
        font-size: 1.1rem;
      }
    }

    .music-controls {
      margin-top: 1rem;

      .range {
        position: relative;
        width: 100%;

        .line {
          background-color: #bebebe9a;
          height: 3px;
          border-radius: 2px;
          display: flex;
          align-items: center;
          position: relative;

          .circle {
            position: absolute;
            left: -20px;
            padding: 10px 20px;

            span {
              display: inline-block;
              width: $circle-size;
              height: $circle-size;
              border-radius: 50%;
              background-color: #fff;
              box-shadow: #0000008e 4px 0 6px;
            }
          }
        }

        .time {
          position: absolute;
          top: 10px;
          font-size: 0.8rem;
          color: #b1b1b1;

          &.start-time {
            left: 0;
          }

          &.end-time {
            right: 0;
          }
        }
      }

      .controls {
        display: flex;
        align-items: stretch;
        justify-content: center;
        margin-top: 1rem;

        button {
          padding: 0.7rem 1rem;
        }

        .next-btn {
          svg {
            transform: rotate(180deg);
          }
        }
      }
    }
  }
}
